<main>
  <section class="adoption">
    <style>
      #site { background: url(/static/images/adopt-form.png); background-size:
      30% auto; background-position: right 30em; background-repeat: no-repeat; }
    </style>
    <div class="adoption-form-title">
      <h1>EDIT YOUR BEEHIVE</h1>
    </div>
    <div class="adoption-form">
      <form method="POST" id="adoption">
        <div class="container">
          <div class="form-elements">
            <label for="name"></label>
            <input
              type="text"
              id="username"
              name="username"
              value="{{beehive.username}}"
              placeholder="Name"
            />
          </div>
          <div class="form-elements">
            <label for="address"></label>
            <input
              type="text"
              id="address"
              name="address"
              value="{{beehive.address}}"
              placeholder="Address"
            />
          </div>
          <div class="form-elements">
            <label for="beehiveName"></label>
            <input
              type="text"
              id="beehiveName"
              name="beehiveName"
              value="{{beehive.beehiveName}}"
              placeholder="Beehive name"
            />
          </div>
          <div class="form-elements">
            <label for="queenName"></label>
            <input
              type="text"
              id="queenName"
              name="queenName"
              value="{{beehive.queenName}}"
              placeholder="Queen Bee name"
            />
          </div>
          <div class="form-elements">
            <label for="honeyLabel"></label>
            <input
              type="text"
              id="honeyLabel"
              name="honeyLabel"
              value="{{beehive.honeyLabel}}"
              placeholder="Honey label URL"
            />
          </div>
          <div class="form-elements">
            <input type="submit" class="submit-button" value="SEND" />
          </div>
        </div>
      </form>
    </div>
  </section>
</main>